
a { 
    color: aliceblue;
    text-decoration: solid;
}

header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: rgb(159, 136, 223);
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 14px;
}

nav a:hover {
    color: black;
}

body{
    background-color: rgb(221, 226, 226);

}
.titulo{
    font-weight: 500;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin:auto;
    color: blue;
}
.importante{
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: rgb(95, 92, 88);
    padding: 35px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    box-shadow: 7px 13px 37px #000 ;
}

.UN-metas h2{
    color: rgb(36, 131, 131);
}

.UN-metas .las-metas{
    padding-right: 30px;
}

footer{
    background: #414141;
    padding: 10px 0 15px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
}
.contenedor.foo{
    text-align: center;
}
.contenedor-foo h4{
    color: #fff;
    border-bottom: 2px;
    padding-bottom: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}
.contenedor-foo p{
    color: #ccc;
    font-size: 15px;
}